.apple-logo {
  font-size: 21px;
  line-height: 0;
}

.navbar.navbar-dark.navbar-expand-md.fixed-top.bg-dark {
  background-color: black !important;
  opacity: 0.8;
  margin-bottom: 50px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-size: 13px;
}

